<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Diane">
        <!-- <link rel="stylesheet" href="style/root.css"> -->
        <!-- <link rel="stylesheet" href="style/style.css"> -->
    </head>

    <body>
        <style>
            a:hover {
                cursor: pointer;
            }
        </style>

        <div id="container">
            <h1><%= title %></h1>
            <h2><a id="connect"><%= subtitle1 %></a></h2>
            <h2><a id="welcome"><%= subtitle2 %></a></h2>
        </div>

    <body>
</html>